@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

b,
strong,
.strong {
    font-weight: 500;
    /* color      : $headings-color; */
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: #5d78ff;
    background-color: transparent;
}

a:hover, a:focus, a.active {
    text-decoration: none;
    outline: none;
    color: #5d78ff;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

select {
    word-wrap: normal;
}

button, select {
    text-transform: none;
}

input, button, select, optgroup, textarea {
    margin: 0;
    margin-bottom: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

button, input {
    overflow: visible;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #a1a0a7;
    text-align: left;
    background-color: #000;
    line-height: 1.75;
}

#main-wrapper {
    opacity: 0;
    transition: all 0.25s ease-in;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 60px;
}
#main-wrapper.show {
    opacity: 1;
}
.header {
    padding: 10px 0px;
    background: #131722;
    border-bottom: 0px solid #363C4E;
    transition: all 0.3s ease-in-out;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0; 
}

.header.dashboard {
    padding: 5px 10px;
    box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
}

.header.fixed {
    padding: 10px 0px;
    box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    border-color: transparent; 
}

.header.dashboard .navbar {
    padding: 0px;
        padding-right: 0px;
        padding-left: 0px;
}

.header .navigation .navbar {
    background-color: transparent !important;
    padding: 0px; 
}
.header .navigation .navbar .collapse {
    justify-content: flex-end; 
}
.header .navigation .navbar ul {
    align-items: center; 
}

.header .navigation .navbar ul > li {
    display: inline-block;
    padding: 7px;
    width: 100%;
}

.header .navigation .navbar ul > li > a {
    font-size: 16px;
    font-weight: 500;
    color: #a1a0a7; 
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.header .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.33594rem;
    padding-bottom: 0.33594rem;
    margin-right: 1rem;
    font-size: 1.09375rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: #5d78ff !important;
}

.intro {
    padding      : 100px 0px;
}

.intro-heading {
    line-height: 55px;
    margin-bottom: 30px;
}

.intro-content > p {
    font-size    : 20px;
    margin-bottom: 50px;
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.container.home-intro {
    padding-top: 100px;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.text-primary {
    color: #5d78ff !important;
}

.sign-in {
    padding: 30px;
    box-shadow: 0px 20px 25px rgba(22, 28, 45, 0.05);
    border-radius: 5px;
    background: #131722;
}

.form-group {
    position: relative;
    margin-bottom: 1rem ;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.input-group > .form-control, .input-group > .custom-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group > input:not(:first-child) {
    margin-left: 10px !important;
}

.form-control {
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid transparent;
    padding: 0px 15px;
    font-size: 16px;
    font-weight: 400;
    color: #a1a0a7;
    transition: all 0.3s ease-in-out;
    background: #000;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    line-height: 1.5;
}

.form-control:focus {
    background: #000;
    color: #fff
}

.form-control:disabled, .form-control[readonly] {
    background-color: #000 !important;
    opacity: 1;
}
button, input {
    overflow: visible;
    font-family: inherit;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #a1a0a7;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sign-in-form .btn {
    padding: 10px 15px;
    font-weight: 500;
    position: relative;
    font-size: 16px;
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 1.5rem !important;
}

.btn-success {
    color: #fff;
    background-color: #10d876;
    border-color: #10d876;
}

.btn-danger {
    color: #fff;
    background-color: #E50202;
    border-color: #E50202;
}

.btn-primary{
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
}

.section-padding {
    padding: 100px 0px;
}

.pb-lg-5, .py-lg-5 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}

.justify-content-center {
    justify-content: center !important;
}

.section-title {
    margin-bottom: 75px;
}

.text-center {
    text-align: center !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.portfolio_list .media {
    margin-bottom: 30px;
}

.media {
    display: flex;
    align-items: flex-start;
}

.la.la-bar-chart {
    font-family: 'Line Awesome Free';
    font-weight: 400;
}

.la, .lab, .lad, .lal, .lar, .las {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.pl-0, .px-0 {
    padding-left: 0 !important;
}

.media-body {
    flex: 1;
}

.portfolio_list.media.port-icon {
    height: 65px;
    width: 65px;
    background: #131722;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-right: 20px;
    color: #5d78ff;
} 

.signin-btn > a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.mt-2, .my-2 {
    margin-top: 0.5rem !important;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.d-flex {
    display: flex !important;
}

.language {
    margin-right: 20px;
}

.language .dropdown-menu {
    border: 0px;
    padding: 5px 0px;
    margin: 0px;
    top: 42px;
    min-width: 100px;
    box-shadow: 0 10px 20px rgba(92, 119, 252, 0.15);
    border-radius: 5px;
    background-color: #131722;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    color: #a1a0a7;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.language .dropdown-menu .dropdown-item:first-child {
    border: 0px;
}

.language .dropdown-menu .dropdown-item {
    border-top: 1px solid #363C4E;
    color: #a1a0a7;
}

.language .dropdown-menu a {
    padding: 5px 20px;
}

.dropup, .dropright, .dropdown, .dropleft {
    position: relative;
}

.language .icon {
    cursor: pointer;
}

.language .icon i {
    margin-right: 7px;
}

.flag-icon {
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: contain;
    background-size: contain;
}

.flag-icon-us {
    background-image: url(us-icon.svg);
}

.profile_log {
    cursor: pointer;
}

.profile_log .user {
    display: flex;
    align-items: center;
}

.profile_log .user .arrow i {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 6px;
    display: inline-block;
}

.profile_log .dropdown-menu {

    border: 0px;
    padding: 0px;
    margin: 0px;
    top: 47px;
    box-shadow: 0 10px 20px rgba(92, 119, 252, 0.15);
    border-radius: 5px;
    background-color: #131722;
    min-width: 240px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.profile_log .user .thumb {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    border: 1px solid #5d78ff;
    display: inline-block;
    margin-right: 7px;
    background: #5d78ff;
    color: #fff;
    text-align: center;
    padding: 3px 0;
}

.profile_log .user .thumb i {
    font-size: 18px;
    line-height: 1.3;
}

.profile_log .dropdown-menu .user-email {
    padding: 20px 20px 10px;
}

.profile_log .dropdown-menu .user-email h6 {
    margin-bottom: 0px;
}

h6, .h6 {
    font-size: 0.875rem;
}

.profile_log .dropdown-menu .user-balance {

    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;

}

.profile_log .dropdown-menu .user-balance p {
    margin-bottom: 0px;
    font-weight: 500;
    color: #fff;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
}

.profile_log .dropdown-menu .dropdown-item.logout {
    color: #E50202;
}

.profile_log .dropdown-menu .dropdown-item {
    padding: 5px 20px;
    border-top: 1px solid #363C4E;
    font-size: 14px;
    color: #a1a0a7;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.profile_log .dropdown-menu .dropdown-item.logout i {
    color: #E50202;
}

.profile_log .dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 22px;
    color: #5d78ff;
    font-weight: bold;
}

.sidebar {
    background: #131722;
    position: fixed;
    left: 0;
    height: 100%;
    width: 60px;
    top: 0;
    box-shadow: 0 10px 30px 0 rgba(82, 63, 105, 0.08);
}

.container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    margin-top: 100px;
}

.menu ul li {
    text-align: center;
    margin-bottom: 15px;
}

.menu ul li a.active {
    background: #5d78ff;
}

.menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
}

.menu ul li a i {
    color: #fff;
    font-size: 20px;
}

.content-body {
    margin-left: 100px;
    margin-top: 70px;
    margin-right: 6px;
    margin-bottom: 45px;
}

.col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xl-3 {

    flex: 0 0 25%;
    max-width: 25%;

}
.col-lg-6 {

    flex: 0 0 50%;
    max-width: 50%;

}
.col-md-12 {

    flex: 0 0 100%;
    max-width: 100%;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 0px solid #363C4E;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
    background: #131722;
}

.scroll-wrapper, .market-limit, .order-book, .trade-history, .depth-chart, .open-orders .buy-sell-limit {
    position: relative;
    height: 400px;
    margin-bottom: 10px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-body {
    padding: 15px 20px;
    background: #131722;
    border-radius: 15px;
}

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.tab-content > .active {
    display: block;
}

.fade {
    transition: opacity 0.15s linear;
}

.mw-150 {
    max-width: 150px;
}

.mw-200 {
    max-width: 200px;
}

.nice-select ul {
    width: 100% !important;
}

#limit {
    margin-top: 25px;
}

.input-group .nice-select:not(:first-child){
    margin-left: 15px;
}

.input-group-prepend {
    margin-right: -1px;
    display: flex
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-bottom: 0px !important;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a1a0a7;
    text-align: center;
    white-space: nowrap;
    background: #000;
    border: 1px solid #ced4da;
    border-color: transparent;
}

.input-group-prepend .input-group-text {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.text-right {
    text-align: right !important;
}

.stock-price .input-group {
    margin-left: 14px;
    padding-right: 14px;
}

#limit .btn-group {
    margin-left: 14px;
    padding-right: 14px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    flex: 1 1 auto;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #a1a0a7;
    margin-bottom: 10px;
    background: transparent;
    border-color: #363C4E;
}

.mr-sm-2, .mx-sm-2 {
    margin-right: 0.5rem !important;
}

.trading-form {
    margin-top: 14px !important;
}

.trading-form .d-flex {
    margin-left: 14px;
    padding-right: 14px;;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #363C4E;
    background: #131722;
    padding: 15px 20px;
    margin-bottom: 0;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-title {
    font-size: 16px;
    margin-bottom: 0px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    margin-bottom: 0px;
    font-weight: 400;
}

.table-responsive-sm {
    min-width: 48rem;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #a1a0a7;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #000;
}

.table tr td, .table tr th {
    border: 0px;
    vertical-align: middle;
    padding: 15px;
}

.transaction-table .sold-thumb {
    background: #E50202;
    color: #fff;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-table .sold-thumb i {
    font-weight: 700;
}

.transaction-table .badge {
    color: #fff;
}

.p-2 {
    padding: 0.5rem !important;
}

.badge-danger {
    color: #fff;
    background-color: #E50202;
}

.badge-success {
    color: #fff;
    background-color: #10d876;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-danger {
    color: #E50202 !important;
}

.text-success {
    color: #10d876 !important;
}

.transaction-table .buy-thumb {
    background: #10d876;
    color: #fff;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-table .buy-thumb i {
    font-weight: 700;
}