{% load static %}
<div class="header dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <nav class="navbar navbar-expand-lg navbar-light px-0 justify-content-between">
                    <a class="navbar-brand" href="dashboard.html"><img src="{% static 'img/logo.png' %}" alt=""></a>

                    <div class="header-right d-flex my-2 align-items-center">
                        <div class="language">
                            <div class="dropdown">
                                <div class="icon" data-toggle="dropdown">
                                    <i class="flag-icon flag-icon-us"></i>
                                    <span>English</span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">
                                        <i class="flag-icon flag-icon-bd"></i> Bengali
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="flag-icon flag-icon-fr"></i> French
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="flag-icon flag-icon-cn"></i> China
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard_log">
                            <div class="profile_log dropdown">
                                <div class="user" data-toggle="dropdown" aria-expanded="false">
                                    <span class="thumb"><i class="mdi mdi-account"></i></span>
                                    <span class="arrow"><i class="la la-angle-down"></i></span>
                                </div>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="user-email">
                                        <div class="user">
                                            <span class="thumb"><i class="mdi mdi-account"></i></span>
                                            <div class="user-info">
                                                <h6>{{ request.user.username }}</h6>
                                                <span>{{ request.user.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    {% if not request.user.is_staff %}
                                        <div class="user-balance">
                                            <div class="available">
                                                <p>Available</p>
                                                <span>{{ user_account.balance }} USD</span>
                                            </div>
                                            <div class="total">
                                                <p>Total</p>
                                                <span>0.00 USD</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <a href="{% url 'logout' %}" class="dropdown-item logout">
                                        <i class="mdi mdi-logout"></i> Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>