{% load static %}
<div class="sidebar">
    <div class="menu active">
        <ul class="show">
            <li class="active">
                <a href="dashboard.html" data-toggle="tooltip" data-placement="right" title="" data-original-title="Trade" class="active">
                    <span><i class="mdi mdi-view-dashboard"></i></span>
                </a>
            </li>
            <li>
                <a href="account-overview.html" data-toggle="tooltip" data-placement="right" title="" data-original-title="Accounts">
                    <span><i class="mdi mdi-face-profile"></i></span>
                </a>
            </li>
            <li>
                <a href="settings.html" data-toggle="tooltip" data-placement="right" title="" data-original-title="Setting">
                    <span><img src="{% static 'img/settings-icon.svg' %}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>